################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################
/.vs
*.db
*.opendb


/src/VS/.vs/multiResSynthesis/v16
/src/VS/x64
/src/VS/result
